.artifacts
.env
.env.*
**/*.env
**/*.pem
**/*.key
.data
.objects
postgres-data
**/*.log
.git
.github
.next
.pytest_cache
.ruff_cache
.venv
**/.next
**/dist
**/node_modules
**/__pycache__
docs
infra/terraform/.terraform
**/.terraform
**/*.tfstate*
**/*.tfvars
**/*.tfvars.json
node_modules
