{
	admin off
	email {$CADDY_ACME_EMAIL}
}

{$PLATFORM_ORIGIN} {
	encode zstd gzip

	header {
		-Server
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Permissions-Policy "camera=(self), microphone=(self), geolocation=()"
	}

	reverse_proxy web:3000
}
